<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">
	<servlet>
		<servlet-name>fileServlet</servlet-name>
		<servlet-class>net.balusc.webapp.FileServlet</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>/target/site</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>fileServlet</servlet-name>
		<url-pattern>/site/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>wsChat</servlet-name>
		<servlet-class>ca.on.conestogac.ChatWebSocketServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>wsChat</servlet-name>
		<url-pattern>/websocket/chat</url-pattern>
	</servlet-mapping>
</web-app>

